<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TODO_CRUD_Application</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Errorpage.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>com.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signIn</servlet-name>
    <servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>com.controller.post.AddPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/addPost</url-pattern>
  </servlet-mapping>
</web-app>